@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
	box-sizing: border-box;
	font-family: "Press Start 2P";
	color: #0f380f;
}

body {
	background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.title {
	margin-top: 5vh;
	margin-bottom: 3vh;
}

.search {
	display: flex;
	flex-direction: row-reverse;
	max-width: 1200px;
	margin-bottom: 3vh;
}

.search input {
	color: #000;
	width: 302px;
	background-color: inherit;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px solid #000;
}

.search input:focus {
	outline: none !important;
}

.poke-container {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: center;
	margin: 0 auto;
	max-width: 1200px;
}

.pokemon {
	background-color: #eee;
	border: 4px solid #000;
	border-radius: 5px;
	margin: 10px;
	padding: 20px;
}

.pokemon .img-container {
	background: #EFEFBB;
	background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
	background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    border: 4px solid #000;
	border-radius: 5px;
	width: 254px;
	height: 186px;
	display: flex;
    flex-direction: column-reverse;
}

.pokemon .img-container img {
	width: 186px;
	height: 186px;
	align-self: center;
	justify-self: center;
}

.pokemon .number {
	position: absolute;
	background-color: #9bbc0f;
	border-top: 4px solid #000;
	border-right: 4px solid #000;
	border-radius: 5px;
	font-size: 0.8em;
	padding: 5px 10px;
}

.pokemon .info {
	margin-top: 20px;
}

.pokemon .name {
	background: #9bbc0f;
	border: 4px solid #000;
	border-radius: 5px;
	width: 254px;
	height: 40px;
	letter-spacing: 1px;
	padding: 5px;
	padding-left: 15px;
	overflow: hidden;
	position: relative;
}

.pokemon .name h3 {
	position: absolute;
	letter-spacing: 1px;
	line-height: 100%;
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-right 2s linear infinite;
	-webkit-animation: scroll-right 2s linear infinite;
	animation: scroll-right 6s linear infinite;
}

@-moz-keyframes scroll-right {
	0% {
		-moz-transform: translateX(-100%);
	}
	100% {
		-moz-transform: translateX(100%);
	}
}

@-webkit-keyframes scroll-right {
	0% {
		-webkit-transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(100%);
	}
}

@keyframes scroll-right {
	0% {
		-moz-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
	100% {
		-moz-transform: translateX(100%);
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
}

.pokemon .types {
	display: flex;
	flex-direction: row;
	width: 254px;
	justify-content: space-between;
}

.pokemon .type {
	background: #9bbc0f;
	border: 4px solid #000;
	border-radius: 5px;
	width: 48%;
	letter-spacing: 1px;
	padding: 5px;
	padding-left: 15px;
	margin-top: 5px;
}